DSEAfrica data science capstone project for 2023 trainings

In [1]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [3]:
data = pd.read_csv('craigslist_vehicles.csv')
data.head(3)

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,type,paint_color,image_url,description,county,state,lat,long,posting_date,removal_date
0,362773,7307679724,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4500,2002.0,bmw,x5,NaN,...,NaN,NaN,https://images.craigslist.org/00m0m_iba78h8ty9...,"$4,500 Cash 2002 BMW X5 8 cylinder 4.4L moto...",NaN,tx,32.401556,-99.884713,2021-04-16 00:00:00+00:00,2021-05-02 00:00:00+00:00
1,362712,7311833696,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4500,2002.0,bmw,x5,NaN,...,NaN,NaN,https://images.craigslist.org/00m0m_iba78h8ty9...,"$4,500 Cash 2002 BMW X5 8 cylinder 4.4L moto...",NaN,tx,32.401556,-99.884713,2021-04-24 00:00:00+00:00,2021-04-28 00:00:00+00:00
2,362722,7311441996,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4900,2006.0,toyota,camry,excellent,...,sedan,silver,https://images.craigslist.org/00808_5FkOw2aGjA...,2006 TOYOTA CAMRY LE Sedan Ready To Upgrade ...,NaN,tx,32.453848,-99.787900,2021-04-23 00:00:00+00:00,2021-05-25 00:00:00+00:00

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    426880 non-null  int64
 1   id            426880 non-null  int64
 2   url           426880 non-null  object
 3   region        426880 non-null  object
 4   region_url    426880 non-null  object
 5   price         426880 non-null  int64
 6   year          425675 non-null  float64
 7   manufacturer  409234 non-null  object
 8   model         421603 non-null  object
 9   condition     252776 non-null  object
 10  cylinders     249202 non-null  object
 11  fuel          423867 non-null  object
 12  odometer      422480 non-null  float64
 13  title_status  418638 non-null  object
 14  transmission  424324 non-null  object
 15  VIN           265838 non-null  object
 16  drive         296313 non-null  object
 17  size          120519 non-null  object
 18  type          334022 non-null  object
 19  paint_color   296677 non-null  object
 20  image_url     426812 non-null  object
 21  description   426810 non-null  object
 22  county        0 non-null       float64
 23  state         426880 non-null  object
 24  lat           420331 non-null  float64
 25  long          420331 non-null  float64
 26  posting_date  426812 non-null  object
 27  removal_date  426812 non-null  object
dtypes: float64(5), int64(3), object(20)
memory usage: 91.2+ MB

In [5]:
data.columns

Index(['Unnamed: 0', 'id', 'url', 'region', 'region_url', 'price', 'year',
       'manufacturer', 'model', 'condition', 'cylinders', 'fuel', 'odometer',
       'title_status', 'transmission', 'VIN', 'drive', 'size', 'type',
       'paint_color', 'image_url', 'description', 'county', 'state', 'lat',
       'long', 'posting_date', 'removal_date'],
      dtype='object')

In [6]:
data.duplicated().sum()

0

In [7]:
data.isnull().sum()

Unnamed: 0           0
id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
removal_date        68
dtype: int64

In [8]:
username = 'postgres'
password = 'trainings12'
host = 'localhost'
port = 5432
db_name = 'postgres'

In [9]:
engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{db_name}')

In [11]:
data.to_sql('capstone_project', engine, if_exists='replace', index=False)
engine.dispose()